@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.glass {
  @apply bg-white/70 dark:bg-gray-900/60 backdrop-blur-xl shadow-xl border border-white/40 dark:border-gray-800/60;
}
